<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/home"></ion-back-button>
          </ion-buttons>
      <ion-title color="light">
          このアプリについて    
     </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-card color="secondary">
          <ion-card-content text-center>
            <ion-text color="dark">
              <h1>スラングとは</h1>
              <p>スラングは、いわゆる俗語の事です。特定の集団、時代の風潮、若者の間で流行っている言葉で､改まった場面では用いられないカジュアルなコミュニケーションの中で使われる表現です。このアプリでは、教科書には載っていない実際にネイティブが使っているスラングを集めました。</p>
            </ion-text>
          </ion-card-content>
        </ion-card>  
      <ion-card color="success">
          <ion-card-content text-center>
            <ion-text color="light">
                    <h1> 危険度</h1>
                    <p>スラングには品のない言葉や、公然の場で口に出すことが好ましくない場合もありますので、ここでは危険度を５段階に分けて表示してあります。基本砕けた表現になりますので、目上の人や、ビジネスの場においては危険度１のものもタブーです。危険度の高いものは知っておく程度にしておいて、気軽に使わない方が無難でしょう。</p>
              </ion-text>
          </ion-card-content>
        </ion-card>  
      </ion-content>

  