ion-toolbar {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
ion-title {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  font-weight: 300;
}

ion-card {
  height: 21.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

#word {
  font-weight: 400;
  font-size: 1.4rem;
}
.translation {
  margin-top: 0.85rem;
  font-weight: 400;
  font-size: 1.4rem;
}

#content {
  margin-bottom: 0.9rem;
  margin-left: 1.4rem;
  padding-right: 0.4rem;
}

.example {
  color: #000000 !important;
  font-size: 1.25rem;
}

ion-fab {
  margin-right: 1rem;
  margin-top: 1.7rem;
}
ion-fab-button {
  height: 5rem;
  width: 5rem;
}
#level {
  position: absolute;
  bottom: 2.2rem;
  right: 1.1rem;
}
#number {
  position: absolute;
  bottom: 0.2rem;
  right: 2rem;
  font-size: 1.6rem;
}

@media (max-width: 350px) {
  ion-toolbar {
    height: 4.5rem;
  }
  ion-title {
    font-size: 0.8rem !important;
  }
}

@media (max-width: 365px) {
  ion-toolbar {
    height: 4.6rem;
  }
}

@media (max-width: 385px) {
  ion-title {
    font-size: 1rem;
  }
}

@media (min-width: 780px) {
  #level {
    position: absolute;
    bottom: 3.9rem;
    right: 1.65rem;
    font-size:2.1rem;
  }
  .example {
    font-size: 3.5rem;
  }
  #number {
    position: absolute;
    bottom: 0.5rem;
    right: 3.5rem;
    font-size:3rem;
  }
  
  ion-toolbar {
    height: 8rem;
  }
  ion-card {
    height: 32.5rem;
  }

  ion-fab-button {
    height: 9rem;
    width: 9rem;
  }
  
  #word {
    font-weight: 400;
    font-size: 3.1rem;
  }

  ion-back-button {
    font-size: 2.3rem;
  }

  ion-title {
    font-size: 2.9rem;
  }
  .translation {
    font-size: 3.5rem;
  }
}
@media (min-width: 650px) and (max-width: 770px) {
  #level {
    position: absolute;
    bottom: 3.1rem;
    right: 1.3rem;
    font-size: 1.6rem;
  }
  ion-toolbar {
    height: 6.5rem;
  }
  .translation {
    font-size: 3.1rem;
  }
  .example {
    font-size: 2.8rem;
  }
  #number {
    position: absolute;
    bottom: 0.5rem;
    right: 2.8rem;
    font-size: 2.1rem;
  }
  ion-back-button {
    font-size: 1.7rem;
  }
  ion-title {
    font-size: 2.4rem;
  }

  ion-fab-button {
    height: 7rem;
    width: 7rem;
  }

  ion-card {
    height: 29.5rem;
    
  }
  
  #word {
    font-size: 2.5rem;
  }
  .translation {
    font-size: 2.5rem;
  }
}
