<ion-header>
  <ion-toolbar color="primary" text-center>
    <ion-title color="light">
      マスター英語スラング
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="photo">
    <img src="../../assets/learning1.png">
  </div>
  <div id="content">
      <ion-button class="ion-margin-top" color="secondary" routerLink="words">
          <span>スラング一覧</span>
          <ion-icon name="play" color="light"></ion-icon>
        </ion-button>
      <ion-button class="ion-margin-top" color="secondary" routerLink="usage">
          <span id="long">このアプリの使い方</span>
          <ion-icon name="play" color="light"></ion-icon>
        </ion-button>
  </div>
    <!-- <div id="img">
      <img src="../../assets/school.png">
    </div>
    <div id="container" *ngFor="let item of slang">
      <ion-button class="ion-margin-top" color="secondary" routerLink="{{item.id}}">
        <span>{{item.word}}</span>
        <ion-icon name="play" color="light"></ion-icon>
      </ion-button>
    </div> -->
</ion-content>
